:root {

    /*Logo*/
    --web-color: #4D5AE5;
    --footer-studio-color: #F4F4FD;
 
    /*Text*/
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --hero-text-color: #fff;
    --buttons-text-color: #4D5AE5;
    --buttons-active-text-color: #fff;
    --footer-text-color: #E7E9FC;

    /*Background-color*/
    --primary-bgc: #fff;
    --secondary-bgc: #2E2F42;
    --third-bgc: #F4F4FD;
    --order-button-bgc: #4D5AE5;
    --buttons-socials-bgc: #4D5AE5;
    --buttons-bgc: #F4F4FD;
    --buttons-active-bgc: #404BBF;
    --buttons-footer-active-bgc: #31D0AA;
    --modal-bgc: #FCFCFC;
    --modal-button-bgc: #E7E9FC;

    /*Border color*/
    --border-customers-color: #8E8F99;

    /*Icons color*/
    --icon-close: #000000;
}

/*reset start*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: var(--primary-bgc);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    display: block;
}

/*Studio page start*/

/*Header start*/

.header {
    padding-top: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

/*Nav start*/

.nav-wrapper {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.logo {
    margin-right: 76px;
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    padding: 24px 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.logo-text {
    color: var(--web-color);
}

.nav-block {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    color: var(--buttons-active-bgc);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--buttons-active-bgc);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--buttons-active-bgc);
}

/*Nav end*/

/*Addres start*/

.address-block {
    display: flex;
    gap: 40px;
}

.contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--buttons-active-bgc);
}

/*Addres end*/

/*Header end*/



/*Studio main start*/

/*Hero start*/

.hero {
    padding: 188px 0;
    background-color: var(--secondary-bgc);
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    color: var(--hero-text-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: 0;
    background-color: var(--order-button-bgc);
    color: var(--hero-text-color);
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order:hover,
.order:focus {
    background-color: var(--buttons-active-bgc);
    cursor: pointer;
}

/*Hero end*/

/*Benefits start*/

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.benefits {
    padding-bottom: 0;
}

.benefits-list {
    display: flex;
}

.benefits-item {
    width: 264px;
}

.benefits-item:not(:last-child) {
    margin-right: 24px;
}

.benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--buttons-bgc);
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text {
    color: var(--secondary-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Benefits end*/

/*What Are We Doing start*/

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.what-list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.list-item:not(:last-child) {
    margin-right: 24px;
}

/*What Are We Doing end*/

/*Our team start*/

.section.team {
    padding-bottom: 110px;
    background-color: var(--third-bgc);
}

.team-list {
    display: flex;
}

.box-content {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.box-content:not(:last-child) {
    margin-right: 24px;
}

.card-content {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bgc);
}

.team-text {
    margin-bottom: 8px;
}

.social-flex {
    display: flex;
}

.social-item:not(:last-child) {
    margin-right: 24px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--buttons-socials-bgc);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--buttons-active-bgc);
    cursor: pointer;
}

.team-icon {
    fill: var(--buttons-bgc);
}

/*Our team end*/

/*Customers start*/

.section.customers-section {
    padding-top: 130px;
}

.customers-wrapper {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
}

.customers {
    width: 168px;
}

.customers-link {
    fill: var(--border-customers-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88px;
    border: 1px solid var(--border-customers-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--buttons-active-bgc);
}

.customers-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--buttons-active-bgc);
}

/*Customers end*/

/*Studio main end*/



/*Footer start*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondary-bgc);
}

.footer-box {
    display: flex;
}

.footer-content {
    width: 264px;
    margin-right: 120px;
}

.footer-logo {
    margin-bottom: 16px;
}

.logo-1 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    color: var(--footer-studio-color);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
}

.footer-text {
    color: var(--footer-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--hero-text-color);
    margin-bottom: 16px;
    letter-spacing: 0.02em;
}

.footer-item:not(:last-child) {
    margin-right: 16px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--buttons-footer-active-bgc);
}

/*Footer end*/

/*Studio page end*/



/*Portfolio page start*/

/*Portfolio main start*/

.portfolio-section {
    padding-top: 96px;
}

.flex-button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button {
    padding: 12px 24px;
    background-color: var(--buttons-bgc);
    color: var(--buttons-text-color);
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--buttons-active-bgc);
    color: var(--buttons-active-text-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.flex-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.thumb {
    overflow: hidden;
    position: relative;
}

.thumb::before {
    content: "14 Stylish and User-Friendly App Design Concepts 路 Task Manager App 路 Calorie Tracker App 路 Exotic Fruit Ecommerce App 路 Cloud Storage App";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px 164px;
    color: var(--footer-studio-color);
    background-color: var(--buttons-socials-bgc);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .thumb::before,
.portfolio-link:focus .thumb::before {
    transform: translateY(0);
}

.portfolio-card {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 31px;
    border-bottom: 1px solid var(--footer-text-color);
    border-right: 1px solid var(--footer-text-color);
    border-left: 1px solid var(--footer-text-color);
}

/*Portfolio main end*/

/*Portfolio page end*/



/*Modal window*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 408px;
    height: 576px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-bgc);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--modal-button-bgc);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: var(--icon-close);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--buttons-active-text-color);
    background-color: var(--buttons-active-bgc);
    cursor: pointer;
}
